.custom-scroll {

    /* width */
    &::-webkit-scrollbar {
        width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $gray-300;
        width: 2px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: $border-radius;
        width: 4px;
    }
}